<!DOCTYPE html>
<html>
  <head>
    <title>Output Page</title>
  </head>
  <body>
    <h1>Download Results</h1>
    <form action="/download" method="get" enctype="multipart/form-data">
      <button type="submit">Download</button>
    </form>
  </body>
</html>
